<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
  <link href="../static/css/bootstrap.css" rel="stylesheet">
  <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
  <link href="../static/css/skins/polaris/polaris.css" rel="stylesheet">

  <script type="text/javascript" src="../static/js/icheck.js"></script>
	<title>精品推荐</title>
	<link rel="shortcut icon" href="../static/image/dp.jpg" >
</head>
<body>
<div class="skin skin-minimal">
        <dl class="clear">
          <dd class="selected">
            <div class="skin-section">
              <h4>Live</h4>

              <ul class="list">
                <li>
                  <div class="iradio_minimal"><input tabindex="7" type="radio" id="minimal-radio-1" name="minimal-radio" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                  <label for="minimal-radio-1">Radio button 1</label>
                </li>
                <li>
                  <div class="iradio_minimal checked"><input tabindex="8" type="radio" id="minimal-radio-2" name="minimal-radio" checked="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                  <label for="minimal-radio-2">Radio button 2</label>
                </li>
                <li>
                  <div class="iradio_minimal disabled"><input type="radio" id="minimal-radio-disabled" disabled="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                  <label for="minimal-radio-disabled">Disabled</label>
                </li>
                <li>
                  <div class="iradio_minimal checked disabled"><input type="radio" id="minimal-radio-disabled-checked" checked="" disabled="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                  <label for="minimal-radio-disabled-checked">Disabled &amp; checked</label>
                </li>
              </ul>
              <div class="colors clear">
                <strong>Color schemes</strong>
                <ul>
                  <li class="active" title="Black"></li>
                  <li class="red" title="Red"></li>
                  <li class="green" title="Green"></li>
                  <li class="blue" title="Blue"></li>
                  <li class="aero" title="Aero"></li>
                  <li class="grey" title="Grey"></li>
                  <li class="orange" title="Orange"></li>
                  <li class="yellow" title="Yellow"></li>
                  <li class="pink" title="Pink"></li>
                  <li class="purple" title="Purple"></li>
                </ul>
              </div>
            </div>
            <div class="skin-section skin-states">
              <h4>States</h4>
              <ul class="list">
                <li>
                  <div class="state icheckbox_minimal"></div>
                  <div class="state iradio_minimal"></div>
                  Normal
                </li>
                <li>
                  <div class="state icheckbox_minimal hover"></div>
                  <div class="state iradio_minimal hover"></div>
                  Hover
                </li>
                <li>
                  <div class="state icheckbox_minimal checked"></div>
                  <div class="state iradio_minimal checked"></div>
                  Checked
                </li>
                <li>
                  <div class="state icheckbox_minimal disabled"></div>
                  <div class="state iradio_minimal disabled"></div>
                  Disabled
                </li>
                <li>
                  <div class="state icheckbox_minimal checked disabled"></div>
                  <div class="state iradio_minimal checked disabled"></div>
                  Disabled &amp; checked
                </li>
              </ul>
            </div>
            <script>
            $(document).ready(function(){
              $('.skin-polaris input').iCheck({
                checkboxClass: 'icheckbox_polaris',
                radioClass: 'icheckbox_polaris',
                increaseArea: '20%'
              });
            });
            </script>
          </dd>
          <dt class="selected">Demo</dt>

          <dt>使用说明</dt>
        </dl>
      </div>
  <script>
    $(document).ready(function(){
      $('input').iCheck({
        checkboxClass: 'icheckbox_polaris',
        radioClass: 'iradio_polaris',
        increaseArea: '-10%' // optional
      });
    });

  </script>
</body>
</html>