<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<style type="text/css">
		html, body, #map {width: 100%;height: 100%;}
	</style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=kAWXbccRXNNwQl79u9cFcV6eysiBiBeA"></script>
	<script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
  <link href="../static/css/bootstrap.css" rel="stylesheet">
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<title>精品推荐</title>
	<link rel="shortcut icon" href="../static/image/dp.jpg" >
</head>
<body>
<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" data-toggle="modal" data-target="#selection-modal">
        <span class="glyphicon glyphicon-filter"></span>筛选<span class="caret"></span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav navbar-left" id="nav-type-tab">
        <li id="taste_tab" value="taste_score" class="active"><a href="#">口味优先</a></li>
        <li id="comment_tab" value="comment_num"><a href="#">最热讨论</a></li>
        <li id="heat_tab" value="weighted_hits"><a href="#">点击为王</a></li>
        <li id="rating_tab" value="good_rate"><a href="#">好评如潮</a></li>
        <li id="distance_tab" value="verse_taxi_distance"><a href="#">周边美食</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" onclick="refresh_shops(true)">
            <span class="glyphicon glyphicon-refresh"></span>换一批
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="modal fade" id="selection-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          条件筛选
        </h4>
      </div>
      <div class="modal-body" id="selection">
        <label>菜系选择</label>
        <div class="row" id="category-selection">
          <!-- <div class="col-xs-2"><span class="label label-default">本帮江浙菜</span></div>
          <div class="col-xs-2"><span class="label label-default">日本菜</span></div>
          <div class="col-xs-2"><span class="label label-default">咖啡厅</span></div>
          <div class="col-xs-2"><span class="label label-default">小吃快餐</span></div>
          <div class="col-xs-2"><span class="label label-default">火锅</span></div>
          <div class="col-xs-2"><span class="label label-default">西餐</span></div>
          <div class="col-xs-2"><span class="label label-default">面包甜点</span></div>
          <div class="col-xs-2"><span class="label label-default">自助餐</span></div>
          <div class="col-xs-2"><span class="label label-default">粤菜</span></div>
          <div class="col-xs-2"><span class="label label-default">韩国料理</span></div>
          <div class="col-xs-2"><span class="label label-default">小龙虾</span></div>
          <div class="col-xs-2"><span class="label label-default">烧烤</span></div>
          <div class="col-xs-2"><span class="label label-default">川菜</span></div>
          <div class="col-xs-2"><span class="label label-default">素菜</span></div>
          <div class="col-xs-2"><span class="label label-default">东北菜</span></div>
          <div class="col-xs-2"><span class="label label-default">东南亚菜</span></div>
          <div class="col-xs-2"><span class="label label-default">火锅</span></div>
          <div class="col-xs-2"><span class="label label-default">湘菜</span></div>
          <div class="col-xs-2"><span class="label label-default">云南菜</span></div>
          <div class="col-xs-2"><span class="label label-default">新疆菜</span></div>
          <div class="col-xs-2"><span class="label label-default">西北菜</span></div>
          <div class="col-xs-2"><span class="label label-default">蟹宴</span></div>
          <div class="col-xs-2"><span class="label label-default">台湾菜</span></div>
          <div class="col-xs-2"><span class="label label-default">贵州菜</span></div>
          <div class="col-xs-2"><span class="label label-default">面馆</span></div>
          <div class="col-xs-2"><span class="label label-default">家常菜</span></div>
          <div class="col-xs-2"><span class="label label-default">江西菜</span></div>
          <div class="col-xs-2"><span class="label label-default">其他</span></div> -->
        </div><br>
        <div class="row">
          <form class="form-inline col-sm-4">
            <label class="form-label">评分不低于:</label>
            <input class="form-control input-sm" type="number" style="width:40%;" id="taste-score">
          </form>
          <form class="form-inline col-sm-4">
              <label class="form-label">人均:</label>
              <input class="form-control input-sm" type="number" style="width:35%;" id="avg-price-min">
              <label class="form-label">-</label>
              <input class="form-control input-sm" type="number" style="width:35%;" id="avg-price-max">
          </form>
          <form class="form-inline col-sm-4">
              <label class="form-label">评论数不少于:</label>
              <input class="form-control input-sm" type="number" style="width:40%;" id="comment-num">
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="refresh_selection_data(false)">
          确定
        </button>
      </div>
    </div>
  </div>
</div>
<div id="map" class="container"></div>

<script type="text/javascript">
  $(document).ready(function(){
    get_all_category().forEach(function (item) {
      $('#category-selection').append('<div class="col-xs-2"><span class="label label-default">'+item.category+'</span></div>');
    });

    $('#category-selection').find("span").each(function(){
      $(this).on({
        click: function(){
          if ($(this).attr("class")=="label label-default"){
            $(this).removeClass("label-default");
            $(this).addClass("label-primary");
            category_set.add($(this)[0].innerText);
          }
          else if ($(this).attr("class")=="label label-primary"){
              $(this).addClass("label-default");
              $(this).removeClass("label-primary");
              category_set.delete($(this)[0].innerText);
          }
        }
      });
    });

    $('#nav-type-tab').find("li").each(function(){
      $(this).on({
        click: function(){
          $('#nav-type-tab').find("li").each(function(){
            $(this).removeClass("active");
          });

          $(this).addClass("active");
          order_col = $(this).attr("value");
          refresh_shops(false);
        }
      });
    });

    init();

  });
  var map_center = {"lat":31.236923, "lng": 121.483644};
  var map_layer = 13;
  var current_page = 1;
  var limit_num = 20;
  var icon_size = {"width":24, "height":34};
  var order_col = "taste_score";
  var category_set = new Set();
  var taste_score;
  var avg_price_min;
  var avg_price_max;
  var comment_num;

  function refresh_selection_data(){
    taste_score = parseFloat($("#taste-score").val());
    if (isNaN(taste_score)){taste_score = undefined;}
    avg_price_min = parseInt($("#avg-price-min").val());
    if (isNaN(avg_price_min)){avg_price_min = undefined;}
    avg_price_max = parseInt($("#avg-price-max").val());
    if (isNaN(avg_price_max)){avg_price_max = undefined;}
    comment_num = parseInt($("#comment-num").val());
    if (isNaN(comment_num)){comment_num = undefined;}
    refresh_shops();
  }

  function init(){
    map = init_map();
    refresh_shops();
  }
  function refresh_shops(page_down){
    if (typeof(page_down)==='undefined') page_down = false;
    if (page_down) {current_page+=1;}
    else {current_page=1;}
    shops = get_shops(current_page, limit_num, order_col)
    render_shops(shops);
  }
  function init_map(){
    var map = new BMap.Map("map");
    var point = new BMap.Point(map_center.lng, map_center.lat);
    map.centerAndZoom(point, map_layer);
    map.enableScrollWheelZoom(true);
    return map;
  }
  function get_shops(page, limit, order_by){
    var param = {"taste_score": taste_score, "comment_num": comment_num, "avg_price_min": avg_price_min, "avg_price_max": avg_price_max};
    var category_str = "";
    category_set.forEach(function (item) {
      category_str+=item.toString() + ",";
    });
    param.category = category_str;
    $.ajax({
       url: '/shops/'+page+'/'+limit+'/order_by='+order_by,
       dataType: 'json',
       type: 'POST',
       data: param,
       timeout: 3000,
       cache: false,
       crossDomain: true,
       async : false,
       error: function(){alert("get data error!");},
       success: function(data){result = data;}
    });
    return result;
  }
  function get_all_category(){
    $.ajax({
       url: '/category/all',
       dataType: 'json',
       type: 'GET',
       timeout: 3000,
       cache: false,
       crossDomain: true,
       async : false,
       error: function(){result = [];},
       success: function(data){result = data;}
    });
    return result;
  }
  function gen_shop_title_html(item){
  	var shop_title_html = '<div class="row"><div class="col-xs-8">'+
  	  '<a class="text-left" target="_blank" href="http://www.dianping.com/shop/'+item.shop_id+'"><h5>'+item.name+'</h5></a></div>' +
      '<div class="col-xs-4"><h4><small><b>'+item.category+'</b></small></h5></div></div>';
    return shop_title_html;
  }
  function gen_blank_html(){
  	return '<div>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;\
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</div>';
  }
  function gen_content_html(item){
  	return '<div class="row"><div class="col-xs-4"><span class="label label-primary">口&emsp;味：'+item.taste_score+'</span></div>' +
      '<div class="col-xs-4"><span class="label label-success">人&emsp;均：¥'+item.avg_price+'</span></div></div>' +
      '<div class="row"><div class="col-xs-4"><span class="label label-warning">评论数：'+item.comment_num+'</span></div>' +
      '<div class="col-xs-4"><span class="label label-danger">好评率：'+item.good_rate+'%</span></div>' +
      '<div class="col-xs-4"><span class="label label-info" title="'+item.route+'">行程耗时：'+item.public_duration+'</span></div></div></br>';
  }
  function get_recommendation_html(item){
    favors = item.favor_list.split(',')
    var tmp = '<div class="row">';
    for (var i=0; i<favors.length;++i){
      tmp+='<div class="col-xs-4"><span class="label label-default">'+favors[i]+'</span></div>';
    }
    tmp+='</div>';
    return tmp;
  }
  function render_shops(data_info){
    map.clearOverlays();
    for(var i=0;i<data_info.length;i++){
      var icon = new BMap.Icon("http://www.dpfile.com/s/img/map/fancy/"+ (i+1) +".png", icon_size);
      var marker = new BMap.Marker(new BMap.Point(data_info[i].lng,data_info[i].lat));
      var detail = gen_shop_title_html(data_info[i]) + gen_blank_html() + gen_content_html(data_info[i]) + get_recommendation_html(data_info[i]);
      marker.setTitle(data_info[i].name);
      marker.setIcon(icon);
      map.addOverlay(marker);               
      addClickHandler(detail,marker);
    }
    if (data_info.length < limit_num){
      current_page = 0
    }
  }
  function addClickHandler(detail,marker){
    marker.addEventListener("click",function(e){
      var p = e.target;
      var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
      var option = {};
      var infoWindow = new BMap.InfoWindow(detail, option);  
      map.openInfoWindow(infoWindow,point); 
      }
    );
    marker.addEventListener("mouseover",function(e){
      marker.setIcon(new BMap.Icon((marker.getIcon().imageUrl.replace(".png", "-hover.png")), icon_size));
    });
    marker.addEventListener("mouseout",function(e){
      marker.setIcon(new BMap.Icon((marker.getIcon().imageUrl.replace("-hover.png", ".png")), icon_size));
    });
  }
</script>
</body>
</html>