<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<style type="text/css">
		html, body, #map {width: 100%;height: 100%;}
	</style>
  <style>
    .div-relative{position:relative;color:#000;border:1px solid #000;width:100%;height:100%}
    .div-a{ position:absolute;left:20px;top:2px;z-index:100;width:660px;height:400px;border:10px}
    /* div背景色为红色 */
    .div-b{ position:absolute;left:0px;top:0px;z-index:80;width:400px;height:200px}
    /* 背景为黄色 */
    .div-c{ position:absolute;left:80px;top:80px;z-index:70;background:#00F;width:300px;height:300px}
    /* 背景为蓝色 */
  </style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=kAWXbccRXNNwQl79u9cFcV6eysiBiBeA"></script>
	<script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
  <link href="../static/css/bootstrap.css" rel="stylesheet">
  <link href="../static/css/skins/polaris/polaris.css" rel="stylesheet">
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../static/js/icheck.js"></script>
	<title>精品推荐</title>
	<link rel="shortcut icon" href="../static/image/dp.jpg" >
  <script type="text/javascript" src="../static/js/dp.js"></script>
</head>
<body>
<nav class="navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand" >
          <a href="#" class="active" onclick="test_hidden()">
            <span class="glyphicon glyphicon-filter"></span>筛选<span class="caret"></span>
          </a>
        </div>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-center">
          <li id="taste_tab" value="taste_score" onclick="order_by(this)" class="active"><a href="#">口味优先</a></li>
          <li id="comment_tab" value="comment_num" onclick="order_by(this)"><a href="#">最热讨论</a></li>
          <li id="heat_tab" value="last_week_hits" onclick="order_by(this)"><a href="#">点击为王</a></li>
          <li id="rating_tab" value="good_rate" onclick="order_by(this)"><a href="#">好评如潮</a></li>
          <li id="distance_tab" value="taxi_distance" onclick="order_by(this)"><a href="#">周边美食</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

          <li><a href="#" onclick="test_hidden()">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>换一批
          </a></li>
        </ul>
      </div>
    </div>
  </nav>
<div class="div-relative">
  <div class="panel div-a" id="filter_box">
    <div class="panel-body" id="category-selection">
      <label>菜系:</label>
      <div class="checkbox">
        <label><input type="checkbox" aria-label="本帮江浙菜">本帮江浙菜</label>
        <label><input type="checkbox" aria-label="日本菜">日本菜</label>
        <label><input type="checkbox" aria-label="咖啡厅">咖啡厅</label>
        <label><input type="checkbox" aria-label="小吃快餐">小吃快餐</label>
        <label><input type="checkbox" aria-label="火锅">火锅&emsp;</label>
        <label><input type="checkbox" aria-label="西餐">西餐</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" aria-label="面包甜点">面包甜点&emsp;</label>
        <label><input type="checkbox" aria-label="自助餐">自助餐</label>
        <label><input type="checkbox" aria-label="粤菜">粤菜&emsp;</label>
        <label><input type="checkbox" aria-label="韩国料理">韩国料理</label>
        <label><input type="checkbox" aria-label="小龙虾">小龙虾</label>
        <label><input type="checkbox" aria-label="烧烤">烧烤</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" aria-label="川菜">川菜&emsp;&emsp;&emsp;</label>
        <label><input type="checkbox" aria-label="素菜">素菜&emsp;</label>
        <label><input type="checkbox" aria-label="东北菜">东北菜</label>
        <label><input type="checkbox" aria-label="东南亚菜">东南亚菜</label>
        <label><input type="checkbox" aria-label="湘菜">湘菜&emsp;</label>
        <label><input type="checkbox" aria-label="云南菜">云南菜</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" aria-label="新疆菜">新疆菜&emsp;&emsp;</label>
        <label><input type="checkbox" aria-label="海鲜">海鲜&emsp;</label>
        <label><input type="checkbox" aria-label="西北菜">西北菜</label>
        <label><input type="checkbox" aria-label="蟹宴">蟹宴&emsp;&emsp;</label>
        <label><input type="checkbox" aria-label="台湾菜">台湾菜</label>
        <label><input type="checkbox" aria-label="贵州菜">贵州菜</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" aria-label="面馆">面馆&emsp;&emsp;&emsp;</label>
        <label><input type="checkbox" aria-label="家常菜">家常菜</label>
        <label><input type="checkbox" aria-label="江西菜">江西菜</label>
        <label><input type="checkbox" aria-label="其他">其他</label>
      </div>
      <br>
      <div class="row">
        <form class="form-inline col-md-6" role="form">
          <label class="form-label">人均不超过:&emsp;</label>
          <input class="form-control input-sm" type="text" style="width:80px;">
        </form>
        <form class="form-inline col-md-6" role="form">
            <label class="form-label">评论数不少于:</label>
            <input class="form-control input-sm" type="text" style="width:80px;">
        </form>
      </div>
      <br><br>
      <div class="row">
        <div class="col-md-4"></div>
        <button class="btn btn-primary col-md-2" onclick="test_checkbox()" >确定</button>
      </div>
    </div>


  </div>
  <div id="map" class="div-b">this is our map</div>
</div>
  <script>
    var category_set = new Set();
    $(document).ready(function(){
      $('input').iCheck({
        checkboxClass: 'icheckbox_polaris',
        radioClass: 'iradio_polaris',
        increaseArea: '-10%' // optional
      });
    });
    function test_checkbox(){
      $('#category-selection').find("input[type=checkbox]").each(function(){
        $(this).on('ifChecked', function(event){
          category_name = $(this).attr("aria-label")
          category_set.add(category_name);
          console.log(category_set);
        });
        $(this).on('ifUnchecked', function(event){
          category_name = $(this).attr("aria-label")
          category_set.delete(category_name);
          console.log(category_set);
        });
      });
    }
    var map_center = {"lat":31.236923, "lng": 121.483644};
    var map_layer = 13;
    init_data();
    function init_data(){
      map = init_map();
    }
    function init_map(){
      var map = new BMap.Map("map");
      var point = new BMap.Point(map_center.lng, map_center.lat);
      map.centerAndZoom(point, map_layer);
      map.enableScrollWheelZoom(true);
    }
    function test_hidden(){
      ($("#filter_box").attr("class").indexOf("hidden")>=0)?hidden=false:hidden=true;
      console.log(hidden);
      if (hidden == false){
        $("#filter_box").removeClass("hidden");
      }else{
        $("#filter_box").addClass("hidden");
      }
    }
  </script>
</body>
</html>